<!-- <div class="card">
  <div routerLink="/details/{{item.id}}" class="d-flex myCard text-center">
    <div class="image text-center p-3" style="width: 170px;">
      <img class="card-img-top" src="{{item.image}}" alt="Card image cap" style="max-width: 250px; height: 150px; border-radius: 50%;">
    </div>
    <div class="card-body h-100 w-50">
      <h4 class="card-title">{{item.title}}</h4>
    </div>
    <div style="width: 120px;">
      <span>{{ item.category }}</span>
    </div>
    <div style="width: 120px;">
      <span class="salary">{{item.price}} L.E</span>
    </div>
  </div>
</div> -->


